.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    padding: 10px 0px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;

      button {
        min-width: unset;
        width: 70%;
        margin: 5px auto;
      }
    }
  }

  @media screen and (max-width: 800px) {
    width: 90%;
    align-items: center;
    margin-bottom: 30px;

    .signin-form {
      width: 100%;
    }
  }
}
