.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media screen and (max-width: 800px) {
    width: 90%;
    align-items: center;
    .sign-up-form {
      width: 100%;

      button {
        margin: 5px auto;
        min-width: unset;
        width: 70%;
      }
    }
  }

  .title {
    margin: 10px 0;
  }
}
